main {
    margin-top: 65px;
    height: auto;
    width: 100%;
}

.search-mobile {
    display: none;
}

app-products-carousel {
    display: none;
}

app-products-grid {
    display: block;
}

@media only screen and (max-width: 768px) {
    main {
        margin-top: 110px;
    }

    .search-mobile {
        display: block;
    }
}

@media only screen and (max-width: 576px) {

    app-products-grid {
        display: none;
    }
}