<main>
    <div class="container">
        <div class="search-mobile">
            <div class="row">
                <div class="col-10 search d-flex justify-content-around">
                    <input type="text" placeholder="Search for products">
                    <div class="search-icon round d-flex justify-content-center align-items-center">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </div>
                </div>
                <div class="col-2 filters">
                    <div class="round d-flex justify-content-center align-items-center">
                        <fa-icon [icon]="faSliders"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-carousel">
        <p-carousel [value]="categories" styleClass="custom-carousel" [numVisible]="6" [numScroll]="1" [circular]="true"
            [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
            <ng-template let-cat pTemplate="item">
                <div class="cat-item">
                    <fa-icon [icon]="cat.icon"></fa-icon>
                    <p>{{cat.title}}</p>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</main>