main {
    margin-top: 90px;
    height: auto;
    width: 100%;
}

.search-mobile {
    display: none;
}

input {
    height: 40px;
    width: 90%;
    min-width: 150px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    animation-name: animateShadowOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: animateShadow;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    &:focus {
        outline: none;
    }
}

.search-icon {
    margin-top: 5px;
    position: relative;
    left: -40px;

    fa-icon {
        color: white;
    }
}

.round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF385C;
    color: white;
}

.filters {
    margin-top: 5px;
    position: relative;
    left: -20px;

    fa-icon {
        color: white;
    }
}

.category-carousel {
    margin-top: 20px;
    width: 80%;

    .cat-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        animation-name: animateCategoryOut;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

        cursor: pointer;

        fa-icon {
            animation-name: animateCategoryOut;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

        p {
            position: relative;

            &::after {
                display: block;
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                background-color: #222222;
                margin-top: 10px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;

            }
        }

        &:hover {
            animation-name: animateCategory;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;

            p::after {
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
            }

            fa-icon {
                animation-name: animateCategory;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
            }
        }
    }
}

::ng-deep .pi-chevron-left:before,
.pi-chevron-right:before {
    color: #222222;
}

@media only screen and (max-width: 768px) {
    main {
        margin-top: 65px;
    }

    .search-mobile {
        display: block;
    }

    .category-carousel {
        width: 95%;
    }
}