/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$base-color: #a2b6bb;
$secondary: #242524;
$terc: #fdfbf7;


fa-icon {
    color: $secondary;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;

    &:hover {
        color: black;
    }
}

body {
    font-family: Agrandir;
    position: relative;
}

.basic-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    &:focus {
        outline: none;
    }

    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(0, 0, 0, 0);

}

.ss {
    height: 150vh;
}

@keyframes animateShadow {
    from {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    to {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

@keyframes animateShadowOut {
    from {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    to {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

@keyframes animateCategory {
    from {
        color: rgba(99, 99, 99, 0.7)
    }

    to {
        color: $secondary;
    }
}

@keyframes animateCategoryOut {
    from {
        color: $secondary;
    }

    to {
        color: rgba(99, 99, 99, 0.7)
    }
}

@keyframes animateLine {
    from {
        color: rgba(99, 99, 99, 1)
    }

    to {
        color: $secondary;
    }
}

@keyframes animateLineOut {
    from {
        color: $secondary;
    }

    to {
        color: rgba(99, 99, 99, 1)
    }
}

//PrimeNG css adjustments
.p-component-overlay-enter {
    animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-sidebar {
    background-color: $terc;
    padding: 15px;

    .p-sidebar-close-icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $base-color;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            color: $terc;
        }
    }

}

.p-sidebar-active {
    z-index: 100 !important;
}

.p-avatar {
    width: 50px !important;
    height: 50px !important;
}

.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: 99 !important;
    transition-duration: 0.2s;
}

.p-dialog {
    background-color: $terc !important;
    padding: 15px;
    border-radius: 15px;

    .p-dialog-header-icons {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $base-color;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            &::before {
                color: $terc;
            }
        }
    }
}

#pr_id_3 {
    height: 100% !important;

    .p-carousel-content,
    .p-carousel-container,
    .p-carousel-items-content {
        height: inherit !important;
    }
}

.p-component-overlay-leave {
    animation: p-component-overlay-leave-animation 150ms forwards;
}

.animacija {
    .banner-info {
        .bolded {
            animation-name: animateHeading;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
        }

        .classic {
            animation-name: animateHeading;
            animation-delay: 0.3s;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }

        .desc {
            animation-name: animateDesc;
            animation-delay: 0.3s;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }

        .banner-button {
            animation-name: animateHeading;
            animation-delay: 0.7s;
            animation-duration: 0.7s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes animateHeading {
    from {
        transform: translateY(150px);
        opacity: 0;

    }

    to {
        transform: translateY(0px);
        opacity: 1;

    }
}

@keyframes animateDesc {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes p-component-overlay-enter-animation {
    from {
        background-color: transparent;
    }

    to {
        background-color: var(--maskbg);
    }
}

@keyframes p-component-overlay-leave-animation {
    from {
        background-color: var(--maskbg);
    }

    to {
        background-color: transparent;
    }
}